import { ApiProperty } from '@nestjs/swagger';


export class Find${entity.getName()}Dto {
#foreach( ${property} in ${entity.getProperties()})
  @ApiProperty()
  ${property.getApiPattern()}: ${property.getType()};#end
}
